<form 
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['titulo'].value, fg.controls['descripcion'].value)">   
    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" class="form-control"	id="titulo" placeholder="Titulo..." [formControl]="fg.controls['titulo']">
        <div *ngIf="fg.controls['titulo'].hasError('required')">Titulo requerido!</div>
        <div *ngIf="fg.controls['titulo'].hasError('minLengthTitle')">Titulo debe tener al menos {{minLength}}</div>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control"	id="descripcion" placeholder="Descripcion..." [formControl]="fg.controls['descripcion']">
    </div>    
    <button type="submit" class="btn btn-primary">Guardar!</button>
</form>      