<form class="form-inline" *ngIf="!authService.getUser()">
  <div class="form-group">
    <label for="username">Username: (type <em>user</em></label>
    <input clas="form-control" name="username" #username>
  </div>
  <div class="form-group">
      <label for="password">Password: (type <em>password</em></label>
      <input clas="form-control" name="password" #password>
  </div>
  <a class="btn btn-default" (click)="login(username.value, password.value)">Login</a>
  {{errorMessage}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Logout</a>
