<div class="post-it">  
  <div class="box-post-it">
    <div class="card" style="margin:5px;background: yellow">  
      <h1><b>{{todoItem.titulo}}</b></h1>  
      <div class="card desc" style="background: yellow">
        <div class="descripcion">
          {{todoItem.descripcion}}
        </div>  
        <a href="#" (click)="nextTaskClicked()">Proxima Tarea</a>
        <span *ngIf="todoItem.isNextTask()">
          <span>Esta es tu proxima tarea!</span>
        </span>
        <a [routerLink]="['/todoItem', todoItem.id]" class="button">detalles</a>
        Votes: {{todoItem.votes}}
      </div>                                   
    </div>  
    <div style="position: relative; top: 20px; left: 70%;">
      <div style="display:inline-block;width: 30px;">
        <a href="#" class="css-button" (click)="voteUp()"><i class="arrow-up"></i></a>      
      </div>
      <div style="display:inline-block;width: 30px;">
        <a href="#" class="css-button" (click)="voteDown()"><i class="arrow-down"></i></a>    
      </div>        
    </div>
  </div>  
</div>