/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.post-it {
    margin: 10px;
    position: relative;
    background: yellow;    
    box-shadow:	2px 5px rgba(0,0,0,.10), 2px 10px rgba(0,0,0,.12);    
}

.box-post-it {
    padding: 40px;     
    background: yellow;    
}

.post-it:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: white #fad81a #fad81a white;
    
    border-width: 16px 16px 16px 16px;
  }

.descripcion {   
    word-break:break-all;
}

.css-button {
    background-color: #fad81a;
    border: none;    
    padding: 10%;
}

.css-button:hover {
    background-color: #9c870d; 
}

.css-button i {
    color: black;
}

.arrow-up, .arrow-down {    
    display: inline-block;
    border-style: none solid solid none;
    border-width: 0 3px 3px 0;     
    padding: 3px;
    border-color: black;  
}

.arrow-up {    
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down {       
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}