<div class="row">
    <div class="col-md-6 offset-md-3">
        <span	class="anchor" id="formLogin"></span>          
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3	class="mb-0">Todo List</h3>
                Ejemplos:
                <ul>
                <app-ejemplo-item *ngFor="let x of ejemplos" [ejemplo]=x><li></li></app-ejemplo-item></ul>
            </div>
            <div class="card-body">
                <app-form-todolist (itemAdded)="agregado($event)"></app-form-todolist>
            </div>
            <div class="card-outline-secondary">
                
            </div>
        </div>
    </div>  
</div>
  
<hr class="mb-5">

<div class="row row-flex" style="height: 75%;">
<app-todo-item *ngFor="let t of todoListApiClient.getTodoItems()" [todoItem]=t (clicked)="markAsNextTask(t)"></app-todo-item>
<ul>
    <li *ngFor="let u of updates">{{u}}</li>
</ul>
</div>

